---
import Layout from "../layouts/Layout.astro";
---

<Layout
        title="TalentLinx | Bewerbung"
        description="Bewerben Sie sich jetzt und erhalten Sie das passende Jobangebot"
>
    <main style="margin: 0; padding: 0; height: 100vh; width: 100vw;">
        <iframe
                src="https://recruitcrm.io/talent_pool_submission/talentlinx?1736523503526"
                style="border: none; height: 100%; width: 100%;"
        >
        </iframe>
    </main>
</Layout>
